:root{
    /* --color:rgb(214 211 209); */
    --color: rgb(199 210 254);;
}
::-webkit-scrollbar { /* webkit */
	width: 0.25rem; 
}
::-webkit-scrollbar-track{
  background: transparent;
  
}
::-webkit-scrollbar-thumb{
  background: var(--color);
  border-radius: 5rem;
}

body{
    background-color: #050C2A;
    color: black;
}

.container{
    padding: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}
.wrap-item{
    position: relative;
}
.item{
    display: flex;

    background-color: var(--color);
    border-radius: 1rem;
    min-height: 5rem;
}
.item:not(:last-child){
    margin-bottom: 3rem;
}
.img{
    padding: 3rem;
}

.image{
    width: 20rem;
    margin: 0 auto;
    border-radius: 2rem;
    object-fit: cover;
    transition: .2s;
}
.image:hover{
    transform: scale(1.1);
}

.responsive {
    max-width: 100%;
    height: auto;
  }
.info {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.3rem;
}
.title {
    font-family: 'Titan One', cursive;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 25px;
}
.subtitle {
    text-align: justify;
    font-family: 'Fredoka One', cursive;
    flex: 1 1 100%;
    font-size: 20px;
    line-height: 140%;
    font-weight: medium;
}

.link {
    right: 2rem;
    bottom: 2rem;
    position: absolute;
    letter-spacing: 0.1em;
    font-family: 'Fredoka One', cursive;
    color:black;
    padding: 0.8rem 1.8rem;
    border: 0.2rem solid black;
    align-self: end;
    border-radius: 1rem;
    font-size: 20px;
    transition: .2s ease-in-out;
}
.link:hover{
    border: 0.2rem solid rgba(0, 0, 0, 0);
    background-color: black;
    color:var(--color);
}
.fancy{
    color: rgb(79 70 229);
}

@media screen and (max-width:930px){
    .item{
        display: flex;
        flex-direction: column;

        background-color: var(--color);
        min-height: 5rem;
        border-radius: 1rem;
    }
    .link {
        display: inline-block;
        position:static;
        margin: 0rem 3rem 3rem 3rem;
        padding: 1rem 2.5rem;
    }
    .wrap-item{
        position: static;
        background-color: var(--color);
        border-radius: 1rem;
    }
    .wrap-item:not(:last-child){
        margin-bottom: 3rem;
    }
    .item:not(:last-child){
        margin-bottom: 0rem;
    }
    .info {
        padding: 0rem 3rem 3rem 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.3rem;
    }
}
@media screen and (max-width:420px) {
    .title {
        font-size: 20px;
    }
    .subtitle {
        font-size: 16px;
    }
    .img{
        padding: 2rem;
    }
    .info {
        padding: 0rem 2rem 2rem 2rem;
    }
    .link {
        text-align: center;
        font-size: 15px;
        display: block;
        position:static;
        margin: 0rem 2rem ;
        padding: 0.7rem 2rem;
    }
    .wrap-item{
        padding-bottom: 1rem;
    }
}
